language = "c"
run = "gcc -c curves.c -Wall -lm && gcc -pthread concorrente.c -o concorrente curves.o -Wall -lm && ./concorrente 2 "
#run = "gcc -c curves.c -Wall -lm && gcc sequencial.c -o sequencial curves.o -Wall -lm && ./sequencial"